#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}
#tool-tip {
display: none; 
position: absolute; 
pointer-events: none; 
font-size: 14px; 
width: 250px; 
color: black;
text-align: center; 
line-height: 1; 
padding: 6px; 
background: white; 
font-family: sans-serif;
}
#point-tip {
    padding: 4px; 
    margin-bottom: 4px;
    }
#group-tip {
  padding: 4px;
  height: 135px;
  font-size: 16px;
  font-weight: 400;
  color: black;
    }