#info {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  z-index: 100;
  display:block;
}
#leCanvas{
  float: right;
  height:99.5%;
  /* border-style: inset; */
  position: absolute;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
  display: block;
}
.buttons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
/* #leSidebar{ // not being used anymore
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  height:99.5%;
  width: 26%;
  float:left;
  background-color: rgb(0, 26, 255);
  border: rgba(67, 84, 105, 1) 3px;
  min-width: 216px;
  min-height: 280px;
  border-style: inset;
  z-index: 1000;
} */
#tool-tip {
  display: none;
  position: absolute;
  pointer-events: none;
  font-size: 14px;
  width: 250px;
  color: black;
  text-align: center;
  line-height: 1;
  padding: 6px;
  background: white;
  font-family: sans-serif;
}
#point-tip {
  padding: 4px;
  margin-bottom: 4px;
}
#group-tip {
  display: none;
  position: absolute;
  pointer-events: none;
  font-size: 14px;
  width: 250px;
  color: black;
  text-align: center;
  line-height: 1;
  padding: 6px;
  background: white;
  font-family: sans-serif;
}

.app {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

.text {
  color: aqua;
  margin-top: 20px;
  font-size: 20px;
  /* width: 400px; */
  align-content: center;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}
.displayContainer {
  color: aquamarine;
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 3px 3px rgba(67, 84, 105, 1);
  border-style: outset;
}
.kubLogo {
  transform: rotate(360deg);
  /* height: 300px; */
  height: 50%;
  /* width: 300px; */
  width: 50%;
  margin: 50px auto;
  border-radius: 50%;
  color: rgb(254, 254, 255);
  animation: rotation 8s infinite linear;
  border-style: solid;
}
.logo {
  transform: rotate(360deg);
  height: 105px;
  width: 125px;
  background-color: oldlace;
  border: solid 5px black;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgba(67, 84, 105, 1);
  /* animation: rotation 4s infinite linear; */
}
.logo1 {
  transform: rotate(360deg);
  height: 125px;
  width: 125px;
  border: solid 10px black;
  border-radius: 20px;
  /* animation: rotation 4s infinite linear; */
}
.logo2 {
  transform: rotate(360deg);
  height: 105px;
  width: 125px;
  /* animation: rotation 4s infinite linear; */
  background-color: #e8eaf6; /* light shade of indigo */
  border: solid 5px black;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px rgba(67, 84, 105, 1);
}

@keyframes rotation {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(359deg);
}
}
.uploadInput {
  height: 70px;
  width: 300px;
  border: dodgerblue solid 5px;
  border-radius: 5px;
  color: black;
  background-color: rgb(255, 255, 255);
  font-size: 30px;
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
}
.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.uploadButt {
  height: 50px;
  width: 100px;
  border: dodgerblue solid 5px;
  border-radius: 5px;
  margin-top: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
}
.backButton{
  height: 50px;
  width: 100px;
  border: dodgerblue solid 5px;
  border-radius: 5px;
  margin-top: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
}
/* #displays {
  width: 100%;
  height: 100%;
} */
.awsAndGcpLogos {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.fetchAWS {
  height: 30%;
  width: 100%;
  padding-top: 50px;
}
.awsGetClusterName {
  width: 90%;
  margin: 20px 10px auto;
  height: 40px;
}
.awsDeployClusterName {
  display: flex;
  width: 90%;
  height: 40px;
  margin: 20px auto;
}

#clicker {
  background-color:lightblue;
  outline:none;
  cursor:pointer;
}
#hiddenAf{
  display:none;
  background-color:lightblue;
}
#clicker:focus+#hiddenAf{
  display:block;
}
.loc{
  height: 50px;
  border: dodgerblue solid 5px;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
}
.gcpImageContainer{
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

/* no longer used? */
.uploadDiv {
  /* height: 100%; */
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: 0px auto;
}
.kubUpload {
  /* transform: rotate(360deg); */
  height: 125px;
  width: 175px;
  margin: 10px auto;
  /* margin-top: 60px; */
  /* margin-left: 325px; */
  color: rgb(254, 254, 255);
  /* animation: rotation 1s infinite linear; */
}

/* no longer used? */
.kubUploadText {
  height: auto;
  width: 295px;
  margin: 15px auto;
  color: aquamarine;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 60px;
}

.locationDropDown {
  padding-top: 20px;
}

#root {
  background-color: black;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  outline: thin dashed green;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

/* .mainDiv {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 50px;
} */

.vizDiv {
  height: 100%;
}

.SB {
  height: 50px;
  width: 175px;
  border: rgb(7, 185, 255) solid 5px;
  border-radius: 5px;
  /* margin-left: 30px;
  margin-top: 30px; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(255, 2, 213);
  justify-content: space-evenly;
  box-shadow: 0px 0px 3px 3px rgba(67, 84, 105, 1);
  border-style: outset;
}
.uploadButtD {
  height: 50px;
  width: 175px;
  border: dodgerblue solid 5px;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: azure;
}

#deployLoc {
  display: flex;
  width: 80%;
  margin: 10px auto;
}

#infobox{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 350px;
  margin: 0px auto;
  color: black;
  box-shadow: 0px 0px 3px 3px rgba(67, 84, 105, 1);
  border-style: outset;
}
.clusterTitle {
  margin-bottom: -35px;
  margin-top: -20px;
}
.clusterInformation {
  margin-bottom: -10px;
}

/* no longer used */
/* #uploadDivForSubmitandBackButts {
  display: flex;
  flex-direction: column;
} */

#uploadSelectMenu {
  /* used in UploadPage */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#uploadPage2SubmitandBackButts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.clusterDeets {
  color: black;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  margin: 10px auto;
  background-color: darkgoldenrod;
  width: 92%;
  overflow-y: scroll;
  box-shadow: 0px 0px 3px 3px rgba(67, 84, 105, 1);
  border-style: outset;
}

.cluster {
  display: flex;
  flex-direction: column;
  background-color: cornsilk;
  justify-content: space-evenly;
  align-content: center;
  margin: 5px auto;
  max-height: 115px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  width: 80%;
  box-shadow: 0px 0px 3px 3px rgba(67, 84, 105, 1);
}
.deployedTitle {
  width: 90%;
  margin: 5px auto;
  color: black;
}
.awsImageContainer {
  box-sizing: border-box;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.count {
  width: 49%;
  margin-bottom: 5px;
}
/* .landingTitle {
  display: flex;
  flex-direction: column;
  color: aqua;
  width: 100%;
} */
/* .title {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-bottom: -10px;
  margin-top: -40px;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
} */

.getGCPWrapper {
  height: 35%;
  width: 98%;
  margin : 0 auto;
}

/* GCP deploy */
#deployClustName {
  margin: 10px auto;
  width: 95%;
}
.clusterType {
  height: 50px;
  width: 49%;
  margin-bottom: 5px;
  border: dodgerblue solid 5px;
  border-radius: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 15px;
  background-color: azure;
}
#deployWrapper {
  height: 100%;
  width:100%;
}
.deployWrapper {
  height: 100%;
  width:100%;
}
.inputPageDeploy{
  display: flex;
  flex-direction: column;
  height: 60%;
  margin: 0px auto;
  padding-top: 50px;
}
#deployDropDowns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.deployTitle{
  justify-content: center;
  display: flex;
}
.nodeLocationRadios {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  font-size: 16px;
  justify-content: center;
  line-height: 1.5;
  }
#buts{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 20px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }

.deployLocTitle {
  width: 100%;
  justify-content: center;
}
input[type="radio"] {
  margin: 0 10px 0 10px;
}